<h1> about this app... </h1>
<p>Hey, thanks for checking out Friends on Rails. This was my first time using Ruby on Rails and I have to say, the setup took longer than the actual code! Great framework, very thankful for the opporunity to create something in this language. There is next to no vanilla CSS, however, I am using Bootstrap</p>

<p>
<%=  @about_me%>

</p>
<a href='https://www.davethedev.org'></a>
<br/>

<br/>
<h4>CREATED BY</h4>

<p>David Vaughan</p>

<p>5/1/2021</p>

