<h1> about this app... </h1>
<p>Hey, thanks for checking out my mock social media site. This was my first time using Ruby on Rails and I have to say, setup took longer than actual coding! Great framework, very thankful for the opporunity to create something in this language. </p>

<p>
<%=  @about_me%>
</p>
<br/>
<br/>
<br/>
<h4>CREATED BY</h4>

<p>David Vaughan</p>

<p>5/1/2021</p>

