<div class="card text-center">
  <div class="card-header">
    Friends List
  </div>
  <div class="card-body">
    <h5 class="card-title">WELCOME TO THE HOME PAGE. YOUR FRIENDS LIST IS READY, PLEASE LOG IN</h5>
    <p class="card-text">Once logged in you can add, edit, and remove contacts</p>
    
  </div>
  <div class="card-footer text-muted">
    Welcome
  </div>
</div>


<h1>.</h1>
